<cfprocessingdirective pageencoding="utf-8">
<cfinclude template="../cfc/config.cfc">
<cfoutput>
#CGI.HTTP_ACCEPT_LANGUAGE# | #GetLocale()# | #CGI.HTTP_USER_AGENT# | #CGI.REMOTE_ADDR# 

</cfoutput>
<cfdump var="#session#">