<cfprocessingdirective pageencoding="utf-8">

<cfset langID='pt'>
<cfset platformID='cibelePTc'>
<cfset locale=SetLocale("Portuguese (Standard)")>

<!---
<cfset key="">
<cfif isDefined("URL.token")>
	
	<cfif URL.token eq key>
		
	<cfelse>
		<cflocation url="noaccess.cfm">
	</cfif>

<cfelse>
	
	<cflocation url="noaccess.cfm">

</cfif>
--->