<cfprocessingdirective pageencoding="utf-8">

<cfif isDefined("URL.msg")>
	<cfif URL.msg neq ''>
	<cfoutput>
        <div id="popup_msgbox" class="popup_msgbox mfp-hide animated fadeIn">
        <cfif URL.msg eq 'ok'>
		
		<cfelse>
        
        </cfif>
        </div>
	  <script>jQuery.magnificPopup.open({items: {src: '##popup_msgbox'},type: 'inline'}, 0);</script>
    </cfoutput>
    </cfif>

</cfif>

