<cfprocessingdirective pageencoding="utf-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="m4yweb">
<link rel="alternate" href="http://www.videntecibele.com/pt-pt" hreflang="en" />
<link rel="alternate" href="http://www.videntecibele.com/pt-pt" hreflang="pt-pt" />
<link rel="alternate" href="http://www.videntecibele.com/pt-br" hreflang="pt-br" />

