<cfprocessingdirective pageencoding="utf-8">

<cfif isDefined("URL.msg")>
	<cfif URL.msg neq ''>
	<cfoutput>
        <div id="popup_msgbox" class="popup_msgbox mfp-hide animated fadeIn">
        <cfif URL.msg eq 'ok'>
		<img src="media/images/popup1_thanks.png" width="510" height="339" alt=""/>
		<cfelse>
        <img src="media/images/popup3_erro.png" width="510" height="339" alt=""/>
        </cfif>
        </div>
	  <script>jQuery.magnificPopup.open({items: {src: '##popup_msgbox'},type: 'inline'}, 0);</script>
    </cfoutput>
    </cfif>
</cfif>

