<cfprocessingdirective pageencoding="utf-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<cfoutput>
<title>#translations[langID]['platform_title'][rsPlatform.platform_key]# | #translations[langID]['platform_subtitle'][rsPlatform.platform_key]#</title>
</cfoutput>
