
/* PALETTE  background-image: url("../media/fundo.png"); background-position: top center; background-repeat: no-repeat;*/
.white {color:#FFFFFF;}
.black {color:#000000;}
.rose {color: #9E1F63;}
.greydark {color: #2F2F30;}
.greylight {color: #BBBDBF;}
.greyevenmorelight {color: #BABCBE;}

.white_bg {background-color: white;}
.rose_bg {background-image: url(../media/images/1px_bar_top.jpg); background-size: 1px 100%; background-repeat: repeat-x;}
.rose_bg2 {background-image: url(../media/images/1px_bar.jpg); background-size: 1px 100%; background-repeat: repeat-x;}
.rose_bg3 {background-image: url(../media/images/1px_box_signs.jpg); background-size: 1px 100%; background-repeat: repeat-x;}

.bg { background: url(../media/images/background.jpg) no-repeat center center fixed; background-size: cover cover;}

a {text-decoration: none !important; color:black;}
a:hover {color:#9E1F63;}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 850px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 850px !important;
  }
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Berkshire Swash', sans-serif !important; font-weight:400;}


.h1, h1 {font-size:80px !important;}
.h2, h2 {font-size:24px !important;}
.h3, h3 {font-size:20px !important;}

#zone1 {}
#zone2 {padding-top:50px;}
#zone3 {padding-top:50px;}
#zone4 {padding-top:30px;}
#zone5 {padding-top:20px; padding-bottom: 20px;}

.site_title {color: #9E1F63;}

.site_subtitle {color:white; padding-top: 3px;}

.photo_box {margin-top:-60px;}

.tip_box {
	padding:20px 10px 20px 10px;
	background-color: white;
	font-size:18px;
	color: #9E1F63;
	margin-bottom:20px;
	min-height:160px;
}

.chat_box {background-color:white; height:405px; padding:25px 25px 25px 25px; margin-top: 20px; font-family: 'PT Sans', sans-serif!important; font-weight: 400; 
	font-size: 12px; }
.chat_teaser {color: #9E1F63;}

.chatcanvas {width:100%; height:235px; overflow-y: auto; margin-top:5px;}
.chat_text {}

.istypingcanvas { width:100%; height:30px; display: flex; align-items: center; }
.chat_istyping { display:block; color: #BABCBE; }
.chat_istyping > img { height:20px; margin-left: 2px; margin-right: 2px; } 

.cibele_s {
	color: #9E1F63;
	font-size:14px;
	width:100%;
	background-image: url(../media/images/chat_cibele.png); 
	background-repeat:no-repeat; 
	min-height:40px; 
	padding-top:10px;
	padding-left:40px;
	display:none;

}
.user_s {
	color: #2F2F30;
	font-size:14px;
	width:100%;
	background-image: url(../media/images/chat_user.png); 
	background-repeat:no-repeat; 
	min-height:40px; 
	padding-top:10px;
	padding-left:40px;
	display:none;
}

.dialogcanvas {
	width:100%; height:40px;
}

.zodiac_area {width:100%; height:auto;}
.zodiac_box {margin-top:10px; margin-bottom: 30px; border:7px solid #9C2068; background-color:white; min-height: 400px;}
.zodiac_box_content {width:100%; padding: 25px 15px 15px 15px;}
.zodiac_title {font-size:25px !important; color:#9E1F63;}
.zodiac_date { 
	font-family: 'PT Sans', sans-serif!important; font-weight: 400; 
	font-size: 14px; 
	text-transform: uppercase; 
	color:#9E1F63; 
	padding-top:10px;
}
.zodiac_text { font-family: 'PT Sans', sans-serif!important; font-weight: 400; font-size: 13px; color:black; padding-top: 10px;}

.zodiac_images_cont {padding: 2px !important; margin: 0px !important;}
.zodiac_images { width:100%; padding-top: 20px; min-height: 120px;}
.zodiac_images > img {}
.zodiac_images:last-child {margin-right:0px !important;}
.zodiac_images_text {font-size:12px; color: #9E1F63; color:white; padding-top: 10px;}



.references_box {padding-top: 30px; padding-bottom: 30px; min-height: 300px;}
.references_image {margin-bottom: 10px;}
.references_name {color:white; font-size:20px;}
.references_date {font-family: 'PT Sans', sans-serif!important; font-weight: 400; 
	font-size: 12px; color:white; }
.references_text {font-family: 'PT Sans', sans-serif!important; font-weight: 400; 
	font-size: 14px; color:white; }



.footer_text {font-family: 'PT Sans', sans-serif!important; font-weight: 400; 
	font-size: 12px; color:black; }







.padding-tb-form {padding-top:10px; padding-bottom: 10px;}
.padding-tb-form2 {padding-top:30px; padding-bottom: 30px;}


label.checkbox-inline {padding-top:5px; padding-right: 20px;}

label { font-family: 'PT Sans', sans-serif!important; font-weight: 600; font-size:14px;}

.form-control:focus {
  border-color: #9E1F63;
	  -webkit-box-shadow: inset 0 1px 1px rgba(158,31,0,0.75), 0 0 8px rgba(158,31,0,.6);
  box-shadow: inset 0 1px 1px rgba(158,31,0,.075), 0 0 8px rgba(158,31,0,.6);
}

.form-control:-moz-placeholder {
  color: #CCCCCC;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #CCCCCC;
}
.form-control::-webkit-input-placeholder {
  color: #CCCCCC;
}

.form-control[disabled] {
   color:#000000!important;
   opacity: 1 !important;
   background-color: transparent !important;
   border:0px !important;
   box-shadow:none !important;
}

.btn {border-radius: 5px 5px 5px 5px; }

.btn-default {
	font-size: 14px;
	color: #000000;
	background-color: #FFFFFF;
	border: #9E1F63 1px solid;
}


.btn-default:focus, .btn-default.focus {
	  color: #FFFFFF;
	  background-color: #9E1F63;
	  border:  #9E1F63 1px solid;
}

.btn-default:hover {
	  color: #FFFFFF;
	  background-color: #9E1F63;
	  border:  #9E1F63 1px solid;
}

.error {  font-family: "open sans", sans-serif !important; font-weight: 300 !important; color:#F00;}

.errdiv {padding-top:5px;}

.input-error {
  border-color: #F00;
	  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);*/
}


/* POP UPS */
.popup {
  position: relative;
  background-color: #fff;
  padding: 40px 40px 40px 40px;
  width: 90%;
  margin: 0 auto;
  color: #000;
  text-align: left;
  font-family: 'PT Sans', sans-serif!important; font-weight: 400;
  max-width: 800px;
}

.popup > p {font-size:12px;}
.popup > p.title {font-size:18px;}
.popup > p.subtitle {font-size:14px;}
.popup > p.item {font-size:16px;}


/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-close {
  cursor:pointer !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	

	
}

/* Medium devices (desktops, 992px and up) */ 
@media (min-width: 992px) { 


	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	

	
}