<cfcomponent>
    <cfprocessingdirective pageencoding="utf-8">


    <cffunction name="dco" access="remote">

        <cfparam name="URL.data" default=""> <!--- clickID --->

        <cdump data = "#URL.data#"></cdump>

        <CFSTOREDPROC procedure="dbo.conversionlog">
            <CFPROCPARAM type="IN" value="#data#" cfsqltype="CF_SQL_VARCHAR">
        </CFSTOREDPROC>
        <cfoutput>{status: {code: 200, m:"OK" }}</cfoutput>

        <cfset a = ListToArray(data, "|")>
        <cfset isOk="no">

        <!---<cfif ArrayLen(a) eq 6>
            <cfset id = a[1]>
            <cfset baseID =a[3]>
            <cfset campaignID =a[2]>
            <cfset revenue =a[4]>
            <cfset type =a[5]>
            <cfset country=a[6]>
            <cfset isOk = "yes">
        </cfif>

        <cfif ArrayLen(a) eq 7>
            <cfset id = a[1]>
            <cfset baseID =a[3]>
            <cfset campaignID =a[2]>
            <cfset revenue =a[4]>
            <cfset type =a[5]>
            <cfset country=a[6]>
            <cfset vertical=a[7]>
            <cfset isOk = "yes">
        </cfif>

        <cfif isOk eq 'yes'>
            <CFSTOREDPROC procedure="dbo.DirectClientConversion">
                <CFPROCPARAM type="IN" value="#id#" cfsqltype="CF_SQL_VARCHAR">
                <CFPROCPARAM type="IN" value="#campaignID#" cfsqltype="CF_SQL_VARCHAR">
                <CFPROCPARAM type="IN" value="#baseID#" cfsqltype="CF_SQL_VARCHAR">
                <CFPROCPARAM type="IN" value="#revenue#" cfsqltype="CF_SQL_VARCHAR">
                <CFPROCPARAM type="IN" value="#type#" cfsqltype="CF_SQL_VARCHAR">
                <CFPROCPARAM type="IN" value="#vertical#" cfsqltype="CF_SQL_VARCHAR">
                <CFPROCPARAM type="IN" value="#country#" cfsqltype="CF_SQL_VARCHAR">
            </CFSTOREDPROC>
        </cfif>--->

    </cffunction>


</cfcomponent>