<cfprocessingdirective pageencoding="utf-8">
<cfcontent type="text/html; charset=utf-8">
<cfset setEncoding("URL", "utf-8")>
<cfset setEncoding("Form", "utf-8")>

<!--- some testing --->

<cfquery name="rsLead">
select * from lead_feed where leadID='7b490e44-d512-42b8-a6e6-e67ae119e292'
</cfquery>



<cfif len(rsLead.lead_zip) eq 7>
    <cfset lz=left(rsLead.lead_zip,4) + "-" + mid(rsLead.lead_zip,5,3)>
<cfelse>
    <cfset lz=rsLead.lead_zip + "-000">
</cfif>

<!---


<cfset loginFields = {'email': 'andre.amorim@yoursporto.com','password': '**Yours2016'} >   

<cfhttp url="https://api.mensagens-dos-anjos.com/api/Partners/login" method="post" result="cresult" timeout="60">
    <cfhttpparam type="header" name="Content-Type" value="application/json" />
    <cfhttpparam type="body" value="#serializeJSON(loginFields)#">
</cfhttp>

<cfdump var="#cresult#">

<cfoutput>#cresult.filecontent#</cfoutput>

<cfset tempvar=deserializeJSON(cresult.filecontent)>
<cfset login_token=tempvar.id>
<cfoutput>#login_token.id#</cfoutput>

--->

<!---
<cfset intFields = {
"email": "cristina.luz@yoursporto.com",
"birthdate": "1970-01-01",
"language" : "pt-pt",
"timezone" : 0,
"gender": "female",
"firstName": "Cristina",
"lastName": "Teste",
"originDetail": {
"partner" : "ADSA",
"referer": "http://www.videntecibele.com/pt-pt",
"subid": "platformID",
"media": "COREG",
"theme": "angel",
"campaign": "campaign_2016",
"campaignarea": "AU"
},
"location":{
"registrationIpV4": "93.108.166.197",
"registrationIpV6": "",
"number": "",
"street": "",
"street2": "",
"street3": "",
"zip": "",
"city": "",
"state": "",
"country": "PRT"
}
}>
--->
<!---
{"emailHash":"82061cddc79266c2118bfd149f074d38a3f5ed9af60f9767432d3dbeb5d72cf3","gender":"male","firstName":"Teste","lastName":"Teste","birthdate":"1950-01-01T06:00:00.000Z","timezone":1,"language":"en","location":{"registrationIpV4":"93.108.166.197","registrationIpV6":"","number":"","street":"","street2":"","street3":"","zip":"","city":"","state":"","country":"PRT"},"originDetail":{"leadOwner":"YOURS","referer":"http://www.videntecibele.com/pt-pt","partner":"ADSA","subid":"platformID","campaignarea":"AU","media":"COREG","campaign":"campaign_2016","theme":"angel"},"created":"2016-10-14T17:43:08.200Z","email":"andre.amorim@yoursporto.com","id":"5801192cca19870b002246a9"}

{"error":{"code":"L054","status":409,"message":"Email hash already exists [{\"matchWith\":\"5801192cca19870b002246a9\",\"emailHash\":\"82061cddc79266c2118bfd149f074d38a3f5ed9af60f9767432d3dbeb5d72cf3\"}]"}} 
--->
<!---

<cfhttp url="https://api.mensagens-dos-anjos.com/api/Customers" method="post" result="cresult" timeout="60">
    <cfhttpparam type="url" name="access_token" value="iQ8mqrfJtgfHllrnULyXhp927QltvP8puNOaxD8c6iEfgJdgaThBCiz6gANOABFX">
    <cfhttpparam type="header" name="Content-Type" value="application/json" />
    <cfhttpparam type="body" value="#serializeJSON(intFields)#">
</cfhttp>


<cfdump var="#cresult#">
--->

<!---
<cfhttp url="http://coreg.webpilots.com/wscampaign.php" method="get" result="cresult" charset="utf-8"> 
    <cfhttpparam type="url" name="realtime" value="1"> 
    <cfhttpparam type="url" name="country" value="pt"> 
    <cfhttpparam type="url" name="companyid" value="9"> 
    <cfhttpparam type="url" name="publisherid" value="28"> 
    <cfhttpparam type="url" name="campaignid" value="103">
    <cfhttpparam type="url" name="type" value="S">
    <cfhttpparam type="url" name="subid" value="YOURSPORTO">
    <cfhttpparam type="url" name="birthday" value="#DateFormat(rsLead.lead_birthdate,"YYYY-MM-DD")#">
    <cfhttpparam type="url" name="gender" value="#rsLead.lead_gender#">
    <cfhttpparam type="url" name="firstname" value="#rsLead.lead_name#">
    <cfhttpparam type="url" name="lastname" value="#rsLead.lead_surname#">
    <cfhttpparam type="url" name="mobile" value="#rsLead.lead_phone#">
    <cfhttpparam type="url" name="email" value="#rsLead.lead_email#">
    <cfhttpparam type="url" name="zip" value="#rsLead.lead_zip#">
    <cfhttpparam type="url" name="country_residence" value="#rsLead.lead_country#">
    <cfhttpparam type="url" name="nationality" value="#rsLead.lead_country#">
    <cfhttpparam type="url" name="data1" value="#rsLead.platformID#">	
    <cfhttpparam type="url" name="ipenduser" value="#rsLead.lead_ip#">
</cfhttp>
--->


<!---
<cfset apikey="46099444df9915f368e9b525fa3d87b525cb0c85">
<cfset listID=2>
<cfhttp url="http://api.e-goi.com/v2/rest.php?method=getLists&functionOptions[apikey]=#apikey#&functionOptions[listID]=2" method="get" result="result" charset="utf-8"> 
</cfhttp>


<cfset egoiresponse='#result.fileContent#'>

<cfset objXml = createObject("component","xml2Struct")>

<cfset str = structnew()>
<cfset str.existingElement = "some text here">
<cfset str = objXml.ConvertXmlToStruct(egoiresponse, str)>



<cfset newStr = objXml.ConvertXmlToStruct(egoiresponse, StructNew())>
<cfdump var = "#newStr#">
--->
