<cfcomponent name="BR_client_integration">
    <cfprocessingdirective pageencoding="utf-8">
    <cffunction name="integrate" access="remote">
        <cfoutput>BR Country clients</cfoutput>
    </cffunction>
</cfcomponent>