<cfcomponent name="CL_client_integration">
    <cfprocessingdirective pageencoding="utf-8">
    <cffunction name="integrate" access="remote">
        <cfoutput>CL Country clients</cfoutput>
    </cffunction>
</cfcomponent>