<cfcomponent name="ES_client_integration">
    <cfprocessingdirective pageencoding="utf-8">
    <cffunction name="integrate" access="remote">
        <cfoutput>ES Country clients</cfoutput>
    </cffunction>
</cfcomponent>