<cfcomponent name="MX_client_integration">
    <cfprocessingdirective pageencoding="utf-8">
    <cffunction name="integrate" access="remote">
        <cfoutput>MX Country clients</cfoutput>
    </cffunction>
</cfcomponent>