<cfcomponent name="PT_client_integration">
    <cfprocessingdirective pageencoding="utf-8">
            <cffunction name="integrate" access="remote">
                <cfoutput>PT Country clients</cfoutput>
            </cffunction>
</cfcomponent>
