<cfcomponent>
<cfprocessingdirective pageencoding="utf-8">

        <cffunction name="tpx" access="remote">
            <cfoutput>
                    <img height="1" width="1" style="display:none"
                         src="https://www.facebook.com/tr?id=306828269749432&ev=leatizia_pt_conversion&cd[lead_id]=__SUBID__"
                    />
            </cfoutput>
        </cffunction>

</cfcomponent>
