<cfprocessingdirective pageencoding="utf-8">
<cfoutput>
    <img width="1" height="1" src="http://www.videntecibele.com/cfc/trackingKeygen.cfc?method=trackOpening&lid=andreamorim&cid=minha&sid=test&mid=fb&v=videncia">
</cfoutput>
