<div class="container navigation">
    <div class="row">
        <div class="col-lg-6">
            <span class="h6">Campaigns</span>
        </div>
        <div class="col-lg-6">
            <a href="campaign-form.cfm"><span class="gyphicon glyphicon-plus"></span> Create campaing</a>
            <cfform method="get" id="interval_time_form" action="">
                <cfinput type="datefield" name="date_ini" value="#Dateformat(date_ini,'YYYY-MM-DD')#" mask="YYYY-MM-DD">
				<cfinput type="datefield" name="date_end" value="#Dateformat(date_end,'YYYY-MM-DD')#" mask="YYYY-MM-DD">
				<cfinput type="submit" name="filter" value="Submit">
            </cfform>
        </div>
    </div>
</div>