<cfprocessingdirective pageencoding="utf-8">

<!---
			<cfoutput>
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"</cfif>><a href="clients_edit.cfm?cfgridkey=#url.cfgridkey#">Perfil</a></li>
			  <li role="presentation" <cfif URL.tsmid eq 'contacts'>class="active"</cfif>><a href="clients_edit_contacts.cfm?cfgridkey=#url.cfgridkey#">Contactos</a></li>
			  <li role="presentation" <cfif URL.tsmid eq 'log'>class="active"</cfif>><a href="clients_edit_log.cfm?cfgridkey=#url.cfgridkey#">Log</a></li>
			  <li role="presentation"><a href="##">Projetos</a></li>
			  <li role="presentation"><a href="##">Gestão</a></li>
			</ul>
			</cfoutput>
--->