<cfprocessingdirective pageencoding="utf-8">


	<div id="popup_dialogbox_delete" class="popup_msgbox mfp-hide animated fadeIn">
		
		<cfform id="delete_form" name="delete_form" method="post" action="">
		<cfset tabindex=1>
		<cfinput name="var3" id="var3" type="hidden" value="">
		<cfinput name="var4" id="var4" type="hidden" value="">
		<cfinput name="var5" id="var5" type="hidden" value="">
		<cfinput name="var6" id="var5" type="hidden" value="">
		<div class="row">
			<div class="row-height bb">
				<div class="col-sm-12 col-height col-middle">
					<span class="h3 greydark">ELIMINAR LEAD</span>
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="row-height" style="height:100px;">
				<div class="col-sm-12 col-height col-middle" >
					<p id="var2" class="body_text"></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row-height">
				<div class="col-sm-12 col-height col-middle">
					<button type="submit" class="btn btn-default">Confirmar</button>
				</div>
			</div>
		</div>
		</cfform>
	</div>


	<div id="stickyarrow" style="position:absolute; top:80px; left:80px; z-index:20;">
		
	</div>