<cfprocessingdirective pageencoding="utf-8">
<cfset SetLocale("Portuguese (Standard)")>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<cfoutput>
<title>M4YWEB</title>
</cfoutput>

<!---
<meta name="description" content="New Exit">
<META NAME="Language" CONTENT="portuguese">
<META HTTP-EQUIV="Content-Language" CONTENT="pt-pt">
<meta property="og:title" content="New Exit"/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:description" content=""/>
<meta name="apple-itunes-app" content="app-id=969554127"/>
<meta name="google-play-app" content="app-id=com.goingsolutions.farmaciamobile">
<link rel="icon" sizes="192x192" href="https://www.farmaciamobile.pt/public_media/touch-icon.png">
--->
<!---<link rel="icon" type="image/png" href="public_media/favicon.ico">--->