<script type="text/javascript" src="../public_scripts/jquery-2.1.3.min.js"></script>
<!---<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>--->


<script type="text/javascript" src="https://cdn.datatables.net/s/bs/jq-2.1.4,dt-1.10.10,af-2.1.0,b-1.1.0,b-colvis-1.1.0,cr-1.3.0,fc-3.2.0,fh-3.1.0,r-2.0.0,rr-1.1.0,sc-1.4.0,se-1.1.0/datatables.min.js"></script>
<script type="text/javascript" src="../public_scripts/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="../public_scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="../public_scripts/additional-methods.min.js"></script>
<script type="text/javascript" src="../public_scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="../public_scripts/stopVerbosity.min.js"></script>
<script type="text/javascript" src="../public_scripts/autosize.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../bootstrap/js/bootstrap-select.min.js"></script>

<!---
<script type="text/javascript" src="../public_scripts/jquery.unveil.js"></script>
<script type="text/javascript" src="../public_scripts/classie.js"></script>

<script type="text/javascript" src="../public_scripts/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../public_scripts/instafeed.min.js"></script>
<script type="text/javascript" src="../public_scripts/jquery.gray.min.js"></script>

<script type="text/javascript" src="../public_scripts/jquery.nicefileinput.min.js"></script>
--->

<script src="scripts/m4r-jq.js"></script>
