<cfprocessingdirective pageencoding="utf-8">
<cfcontent type="text/html; charset=utf-8">
<cfset setEncoding("URL", "utf-8")>
<cfset setEncoding("Form", "utf-8")>


<script>
      StructClear(session);
      StructClear(cookie);
      StructClear(application);
      StructDelete(application);
</script><cfset applicationStop() />