<cfprocessingdirective pageencoding="utf-8">



<cfset apikey="3ec783f68e3d17031051201e3a844606575a7a26">
<cfset listID=2>

<!---

<cfhttp url="http://api.e-goi.com/v2/rest.php?method=getLists&functionOptions[apikey]=#apikey#&functionOptions[listID]=2" method="get" result="result" charset="utf-8"> 
</cfhttp>

<cfhttp url="http://api.e-goi.com/v2/rest.php?method=getTags&functionOptions[apikey]=#apikey#" method="get" result="result" charset="utf-8"> 
</cfhttp>

<cfhttp url="http://api.e-goi.com/v2/rest.php?method=addSubscriber&functionOptions[apikey]=#apikey#&functionOptions[listID]=0&functionOptions[email]=rui.p@yorn.net" method="get" result="result" charset="utf-8"> 
</cfhttp>


<cfhttp url="http://api.e-goi.com/v2/rest.php?method=getTags&functionOptions[apikey]=#apikey#" method="get" result="result" charset="utf-8"> 
</cfhttp>

<cfhttp url="http://api.e-goi.com/v2/rest.php?method=addSubscriber&functionOptions[apikey]=#apikey#&functionOptions[listID]=#listID#&functionOptions[email]=rui.p2@yorn.net" method="get" result="result" charset="utf-8"></cfhttp>


status  Contact status (0 = unconfirmed; 1 = active; 2 = removed; 4 = inactive). Default status (or if you don't set this variable) = 0
lang   
email  
telephone  
first_name  First name      n/a
last_name   Last name       n/a
birth_date  Birthdate       n/a
extra_1 country
extra_2 zip
extra_3 interest
extra_4 gender
extra_6 leadID
extra_10 tstamp
extra_1 gender
tags [maria-pt, maria-br, tara-pt, tara-br]
<cfhttp url="http://api.e-goi.com/v2/rest.php?method=getLists&functionOptions[apikey]=#apikey#&functionOptions[listID]=2" method="get" result="result" charset="utf-8"> 
</cfhttp>
--->

<cfhttp url="http://api.e-goi.com/v2/rest.php?method=getLists&functionOptions[apikey]=#apikey#&functionOptions[listID]=2" method="get" result="result" charset="utf-8"> 
</cfhttp>


<cfset egoiresponse='#result.fileContent#'>

<cfset objXml = createObject("component","xml2Struct")>

<!--- append the returned structure to some existing structure--->
<cfset str = structnew()>
<cfset str.existingElement = "some text here">
<cfset str = objXml.ConvertXmlToStruct(egoiresponse, str)>


<!--- create a new structure --->
<cfset newStr = objXml.ConvertXmlToStruct(egoiresponse, StructNew())>
<cfdump var = "#newStr#">


<!---

<cfdump var="#result2#">

<cfinvoke webservice="http://api.e-goi.com/v2/soap_any.php?apikey=3ec783f68e3d17031051201e3a844606575a7a26" method="get" wsversion="2" returnvariable="xx" argumentcollection="#yy#"> 
</cfinvoke> 
<cfdump var="#xx#">

--->


<!DOCTYPE HTML>
<html>
<head>
<style>
	body { font-family: 'PT Sans', sans-serif!important; font-weight: 400; font-size: 13px; }
	tr {border:1px solid black;}
	td {border:1px solid black;}
</style>
</head>
<body>
	


</body>
</html>