<cfprocessingdirective pageencoding="utf-8">

<cfset langID=APPLICATION.langID>

<CFSTOREDPROC procedure="dbo.getPlatform">
  <CFPROCPARAM type="IN" value="#APPLICATION.platformID#" cfsqltype="CF_SQL_VARCHAR">
  <CFPROCRESULT name="rsPlatform" resultset="1">
</CFSTOREDPROC>