

.white {color:#FFFFFF;}
.black {color:#000000;}

.greylight {color:#F1F1F2;}
.greyregular {color:#424143;}
.greydark {color:#2d2d2d;}

.bgwhite { background-color:#FFFFFF; }
.bgblack {color:#000000;}
.bggreylight { background-color:#F1F1F2; }
.bggreyregular { background-color:#424143;}
.bggreydark { background-color:#2d2d2d;}

.body {
  background-color:#F1F1F2;
}


.tooltip-inner {
    text-align:left;
}

.bb { border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCBCB; }
.bt { border-top-style:solid; border-top-width:1px; border-top-color: #CCCBCB; }
.bl { border-left-style:solid; border-left-width:1px; border-left-color:white; }
.br { border-right-style:solid; border-right-width:1px; border-right-color:white; }


.table > tbody > tr {cursor:pointer;}

.noaccess {
	font-family: "Light", Helvetica, Arial, sans-serif;
	font-size: 150%;
	color: #8B169C;	
}

.navbar-default {
  background-color: #2d2d2d;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #eaeaea;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #F1F1F2;
}
.navbar-default .navbar-text {
  color: #eaeaea;
}
.navbar-default .navbar-nav > li > a {
  color: #eaeaea;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #F1F1F2;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #F1F1F2;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #F1F1F2;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eaeaea;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eaeaea;
}
.navbar-default .navbar-link {
  color: #eaeaea;
}
.navbar-default .navbar-link:hover {
  color: #F1F1F2;
}



.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
 

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eaeaea;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #F1F1F2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #F1F1F2;
    background-color: #000000;
  }

  .container {width:1200px}
}